.skills{
    font-size: 10px;
}
.details{
    width: 100%;
    display: flex;  
    justify-content: space-between;
    margin: 5px 0 5px 0;
}
.bar{
    position: relative;
    background-color:#14141a;
    border-radius: 20px;
}
.bar div{
    position: relative;
    width: 0;
    height: 3px;
    border-radius: 10px;
    background-color: #ffca2b;
}
#HTML-bar{
    animation: HTML 2s forwards;
}
#CSS-bar{
    animation: CSS 2s forwards;
}
#JavaScript_Front-End-bar{
    animation:JS-FRONT-END 2s forwards
}
#JavaScript_Back-End-bar{
    animation:JS-BACK-END 2s forwards
}
#TypeScript-bar{
    animation: ts 2s forwards;
}
#CSS3-bar{
    animation: css3 2s forwards;
}
#PHP-bar{
    animation: PHP 2s forwards;
}
#CSHARP-bar{
    animation: CSHARP 2s forwards;
}
/* langs */
#PERSIAN-bar{
    animation:PERSIAN 2s forwards
}
#ENGLISH-bar{
    animation:ENGLISH 2s forwards
}
#KOREAN-bar{
        animation:KOREAN 2s forwards
}

@keyframes HTML{
    100%{
         width: 85%;
    }
}
@keyframes CSS{
    100%{
        width: 80%;
    }
}
@keyframes JS-FRONT-END{
    100%{
        width: 60%;
    }
}
@keyframes JS-BACK-END{
    100%{
        width: 95%;
    }
}
@keyframes ts{
    100%{
        width:40%
    }
}
@keyframes css3 {
    100%{
        width: 15%;
    }
}
@keyframes PHP {
    100%{
        width:20%
    }   
}
@keyframes CSHARP {
    100%{
        width:5%
    }
}
/* langs */
@keyframes PERSIAN {
    100%{
        width:99%
    }
}
@keyframes ENGLISH {
    100%{
        width: 80%;
    }
}
@keyframes KOREAN {
    100%{
        width:35%
    }
}