@font-face {
    font-family: 'aviny';
    src: url('../fonts/aviny/aviny.eot');
    src: url('../fonts/aviny/aviny.svg') format('svg'),
        url('../fonts/aviny/aviny.woff2') format('woff2'),
        url('../fonts/aviny/aviny.woff') format('woff'),
        url('../fonts/aviny/aviny.ttf') format('truetype');
}

@font-face {
    font-family: 'sans';
    src: url('../fonts/sans/IRANSansWebFaNum.eot');
    src: url('../fonts/sans/IRANSansWebFaNum.svg') format('svg'),
        url('../fonts/sans/IRANSansWebFaNum.woff2') format('woff2'),
        url('../fonts/sans/IRANSansWebFaNum.woff') format('woff'),
        url('../fonts/sans/IRANSansWebFaNum.ttf') format('truetype');
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: #ffca2b;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffca2b;
}

* {
    scroll-behavior: smooth;
}

body {
    background-color: #191923;
    font-family: 'sans';
    color: white;
}

hr {
    border: 1px solid #454552;
}

.aviny {
    font-family: 'aviny';
}

.left {
    width: 17%;
    height: 95vh;
    float: left;
    box-shadow: 2px 2px 5px 0 #191923;
}

.right-up {
    border-radius: 0 20px 0 0;
    background-color: #2d2d38;
    margin-left: 17%;
    height: 37vh;
}

.right-down {
    text-align: right;
    border-radius: 0 0 20px 0;
    background-color: #20202a;
    margin-left: 17%;
    height: 58vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

/*  */
.header {
    background-color: #2d2d38;
    border-radius: 20px 0 0 0;
}

.image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 0 auto;
    display: block;
    padding-top: 10px;
}

.name {
    margin: 0 0 10px 0;
    text-align: center;
    font-family: 'aviny';
}

.abilities {
    margin: -10px 0 15px 0;
    font-size: 10px;
    color: #8c8c8e;
    text-align: center;
}

.description-infos {
    margin-top: -10px;
    font-size: 13px;
}

.description {
    padding: 20px;
    margin-top: -16px;
    border-radius: 0 0 0 20px;
    background-color: #20202a;
    max-height: 51.9vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

.social-buttons {
    font-size: 20px;
    text-align: center;
    color: #8c8c8e;
    text-decoration: none;
}

.repo-dn {
    font-size: 15px;
    text-align: right;
    color: #8c8c8e;
    text-decoration: none;
}

/*  */
.image-right {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 10px 0 auto;
    display: block;
    padding-top: 10px;
    float: right;

}

.acc-info {
    float: right;
    text-align: center;
}

.acc-stats {
    margin-top: -20px;
}

.dis {
    padding: 10px;
    text-align: right;
}

.discord {
    margin: -20px 0 50px 0;
}

.of {
    margin-right: 250px;
    text-align: right;
}

.images {
    float: left;
}

.texts {
    padding-top: 5px;
    text-align: left;
}

.large_image {
    height: 150px;
    width: 150px;
    border-radius: 25px;
    padding: 20px;
}

.small_image {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: 0 0 0 -30px;
    background-color: #fff
}

/*  */
.nav {
    background-color: #191923;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin: 10px 25% 0 25%;
    display: block;
}

.nav-item {
    background-color: #212324;
    padding: 10px;
    margin: 0 10px 0 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

/*  */
.project-cards {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #212324;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    height: 40vh;
}

.card:hover {
    transform: translateY(-5px);
    transition: .4s;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-img {
    padding: 10px;
    width: 10vh;
    height: 10vh;
}

.viewbtn {
    margin-top: 20px;
    background-color: #57F287;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
}

/*  */
.git {
    background-color: #212324;
    margin: 0 5% 0 5%;
    text-align: center;
    border-radius: 10px;
}

.git:hover {
    transform: translateY(-5px);
    transition: .4s;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.gitres {
    width: 100vh;
}

.extra {
    background-color: #212324;
    margin: 0 25% 0 25%;
    text-align: center;
    border-radius: 10px;
}

.extra:hover {
    transform: translateY(-5px);
    transition: .4s;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}