@media (max-width: 1300px) {
    .description {
        max-height: 59.1vh;
    }

    .right-up {
        height: 30.9vh;
    }

    .right-down {
        height: 64vh;
        max-height: 64vh;
    }
}

@media (max-width: 1000px) {
    .left {
        width: 100%;
        height: 20vh;
        float: none;
    }

    .header {
        border-radius: 20px 20px 0 0;
    }

    .description {
        border-radius: 0 0 20px 20px;
    }

    .right-up {
        margin-left: 0;
        margin-top: 610px;
        width: 100%;
        height: 35vh;
        border-radius: 20px 20px 0 0;
    }

    .right-down {
        width: 100%;
        margin: 0;
        border-radius: 0 0 20px 20px;
    }

    .repo-dn {
        text-align: center;
    }

    .extra {
        margin: 0 5% 0 5%;
    }

    .nav {
        margin: 10px 10% 0 10%;
    }
}

@media (max-width: 900px) {
    .gitres {
        width: 90vh;
    }
}

@media (max-width: 800px) {
    .gitres {
        width: 80vh;
    }

    .nav {
        margin: 10px 10% 0 10%;
    }
}

@media (max-width: 700px) {
    .gitres {
        width: 70vh;
    }

    .nav {
        margin: 10px 10% 0 10%;
    }
}


@media (max-width: 600px) {
    .gitres {
        width: 60vh;
    }
}


@media (max-width: 500px) {

    .image-right {
        margin: 0px auto 0 auto;
        float: none;
    }

    .acc-info {
        float: none;
    }

    .images {
        float: none;
        margin: 0 auto 0 auto;
        display: block;
    }

    .large_image {
        height: 150px;
        width: 150px;
        border-radius: 25px;
        padding: 20px;
        margin: 0 auto 0 auto;
        display: block;
    }

    .small_image {
        border-radius: 50%;
        background-color: #fff;
        margin: 0 auto 0 auto;
        display: block;
    }

    .texts {
        text-align: center;
        padding: 0;
    }

    .right-up {
        height: 85vh;
    }

    .dis {
        margin: -20px 0 -10px 10px;
        text-align: center;
        margin: 0;
    }

    .of {
        text-align: center;
        margin: 0;
    }

    .gitres {
        width: 50vh;
    }
}

@media (max-width: 400px) {
    .right-up {
        height: 105vh;
    }

    .card {
        height: 45vh;
    }

    .gitres {
        width: 40vh;
    }

    .nav-item {
        text-align: center;
        display: flex;
        margin: 10px 0 10px 0;
    }

}