<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پرسش مهر 1400 - ایران قوی</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

</head>
<style>
    body {
        text-align: right;
    }

    .table {
        padding: 0 500px 0 500px;
        display: block;
        color: white;
    }

    .text {
        background-color: blueviolet;
        margin: 50px 0 10px 0;
        border-radius: 10px;

        box-shadow: 0 4px 8px 0 #000000;
        text-align: center;
    }

    .des {
        padding: 20px;
    }
    .title{
        text-align: center;
    }
.imgstyle{
    border-radius: 25px;
    width: 200px;
    height: 300px;
    margin: 0 auto 10px auto;
    display: block;
}

    @media (max-width: 1400px) {
        .table {
            padding: 0 20px 0 20px;
            display: block;
        }

        .text {
            background-color: blueviolet;
            margin: 50px 0 10px 0;
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 #000000;

        }

        .des {
            padding: 20px;
        }
    }

</style>

<body>


    <div class="table">

        <div class="text">
            <div class="des">
                <img class="imgstyle" src="/img/img.jpg">
                <h2 class="title">ایران قوی دارای چه ویژگی است ؟</h2>
                | <a href="?student=hadi"><span>  هادی آذری</span></a>
                | <a href="?student=boromand"><span> حسین برومند</span></a>
                | <a href="?student=mojtaba"><span> مجتبی قاسمی</span></a>
                | <a href="?student=fadavi"><span> مهدی فدوی</span></a>
                | <a href="?student=saram"><span> امیررضا صارم</span></a>
                | <a href="?student=shabani"><span> محمد شعبانی</span></a>
                | <a href="?student=nazemi"><span> علیرضا معصوم ناضمی</span></a>
            </div>
        </div>



<% if(student === 'hadi') { %>
        <div class="text">
            <div class="des">
                <h3>: هادی آذری</h3>
                <h4>داشتن فرهنگ غنی و گذشته پرافتخار
                    تکیه بر قرآن و اسلام و اهل بیت، و داشتن نظام اجتماعی سالم
                    ایستادگی در برابر مستکبران و زورگویان
                    داشتن نظام اسلامی و مبتنی بر رای و تصمیم مردم
                    امنیت اجتماعی در جامعه و آرامش روانی مردم بخاطر نیروهای فداکار امنیتی و نظامی
                    امنیت سیاسی و سرزمینی جغرافیایی و بدور از تنش در منطقه بخاطر قدرت نظامی
                    قدرت دفاعی بالا در حوزه بازدارندگی از جمله توان موشکی و هسته ای
                    توان بالا در حوزه پزشکی هسته ای
                    انسان هایی با استعداد و هوش بالا
                    حضور در عرصه های علمی</h4>
            </div>
        </div>
<% } %>
<% if(student === 'boromand') { %>
        <div class="text">
            <div class="des">
                <h3>: حسین برومند</h3>
                <h4>
                    مردم شجاع و نترسی دارد که در سخت ترین شرایط جان خود را برای میهن خود میدهند مردم با ایمان دارد که هیچ وقت ایمان خود را از دست نمی‌دهند شهدایی دارد که برای نجات خاک کشورشان جنگیدند و نگذاشتن قطره ای از خاک کشورشان کم شود وظیفه ی ما دانش آموزان این است که با درس خواندن و علمو دانش باعث پیشرفت کشور و سر بلندی آن شویم
                </h4>
            </div>
        </div>
<% } %>
<% if(student === 'mojtaba') { %>
        <div class="text">
            <div class="des">
                <h3>: مجتبی قاسمی</h3>
                <h4>ایرانی قوی از نظر من به معنی رشد، پیشرفت، توسعه و در یک کلمه قوی شدن ایران در همه ی ابعاد و عرصه هاست. برای قوی شدن کشور لازم است تا اقتصاد قوی و با برنامه داشته باشیم. در شرایطی که جمهوری اسلامی ایران از طرف قدرت های اقتصادی جهان تحت فشار شدید تحریم های ظالمانه است اگر اقتصاد قوی نداشته باشد نمی تواند مقابل این زورگویی ها بایستد. پس ما باید اقتصاد شکوفایی داشته باشیم</h4>
            </div>
        </div>
<% } %>
<% if(student === 'fadavi') { %>
        <div class="text">
            <div class="des">
                <h3>: مهدی فدوی</h3>
                <h4>به نام خدا ایران باید کشوری بدون مشکلات مالی وفرهنگی باشد زیرا نباید موردتحریم های خارجی قرار بگیرد ویا اگر قرار میگیرد نباید در اقتصاد کشور تاثیر بگذاردجوانان نباید مشکل شغل یا کار داشته باشند چرا ک کشور بدون شغل مانند سلاح بی خشاب است</h4>
            </div>
        </div>
<% } %>
<% if(student === 'saram') { %>
        <div class="text">
            <div class="des">
                <h3>: امیررضا صارم</h3>
                <h4>مردم شجاع و نترسی دارد که در سخت ترین شرایط جان خود را برای میهن خود میدهند مردم با ایمان دارد که هیچ وقت ایمان خود را از دست نمی‌دهند شهدایی دارد که برای نجات خاک کشورشان جنگیدند و نگذاشتن قطره ای از خاک کشورشان کم شود وظیفه ی ما دانش آموزان این است که با درس خواندن و علمو دانش باعث پیشرفت کشور و سر بلندی آن شویم اما ماجرا به اینجا ختم نمیشود علاوه بر این ارمان ها ایرانی قوی که همدل و هماهنگ هست باید همراهی و کمک مسئولین حمایت کشوری را برای نخبگان و فرهیختگان داشته باشد و هماهنگی هر چه بیشتر در بین مکانیسم های دولت دارا باشد
                </br>✌️ به امید ایران قوی 
                </h4>
            </div>
        </div>
<% } %>
<% if(student === 'shabani') { %>
        <div class="text">
            <div class="des">
                <h3>: محمد شعبانی</h3>
                <h4>ایرانی قوی از نظر من به معنی رشد، پیشرفت، توسعه و در یک کلمه قوی شدن ایران در همه ی ابعاد و عرصه هاست. برای قوی شدن کشور لازم است تا اقتصاد قوی و با برنامه داشته باشیم. در شرایطی که جمهوری اسلامی ایران از طرف قدرت های اقتصادی جهان تحت فشار شدید تحریم های ظالمانه است اگر اقتصاد قوی نداشته باشد نمی تواند مقابل این زورگویی ها بایستد. پس ما باید اقتصاد شکوفایی داشته باشیم</h4>
            </div>
        </div>

<% } %>
<% if(student === 'nazemi') { %>
        <div class="text">
            <div class="des">
                <h3>: علیرضا معصوم ناضمی</h3>
                <h4>برای اینکه ایرانی قوی و قدرتمند داشته باشیم ابتدا باید از خود مردمان کشورمان شروع کنیم و فرهنگ های بیگانه را از کشور خود بیرون کنیم زیرا کشور های بیگانه میخواهند با ترویج فرهنگ های نادرست بین مردم،مارا از فرهنگ اصیل ایرانی به دور کنند.نقش ما دانش اموزان در این کار این است که تا جایی که میتوانیم این فرهنگ هارا نیاموزیم و سعی کنیم فرهنگ اصیل ایرانی را پاس بداریم</h4>
            </div>
        </div>
<% } %>
    </div>



</body>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>

</html>